.cadre{
    width: 500px;
    height: 200px;
    border: 2px solid #000;
}

.sea{
    background-image: url(img/sea.png);
    background-repeat: repeat-x;
    background-size: 100px;
    height: 100%;
    background-position: 50% 108%;
    position: relative;
}

.boat{

    background-image: url(img/tita.png);
    height: 128px;
    width: 168px;
    background-size: 100px;
    background-position: 19% 84%;
    background-size: 165px;
    position: absolute;
    top: 50px;
    left: 82px;

}