body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 55%;
}


.text{
    width: 50%;
    padding-bottom: 43px;
    padding-right: 43px;

}

.respon{
    display: flex;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9EA2AC;
    font-size: 20px;
}

.emoji{
    margin-top: 20px;
}
.section-etoile{
    display: flex;
}

.etoile{
background-image: url(../exercice2responsive/img/star.svg); 
    width: 20px;
    height: 20px;
    margin-right: 11px;
    color: #3163EB;
}
.etoile2{
    margin-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3163EB;
}

.chiffre{
    margin-right: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9EA2AC;
}

.map2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bouton{
    display: flex;
    margin-top: 30px;
}
a{
    background-color: #3163EB;
    width: 170px;
    height: 46px;
    text-align: center;
    padding: 11px;
    border-radius: 10px;
    color: white;
    font-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p{
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.map{
    background-image: url(../exercice2responsive/img/location-marker.svg); 
    width: 20px;
    height: 20px;
    margin-right: 11px; 
}


.img{

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 15px; */
}
.emoji{
    display: flex;
}

.img1{
    background-image: url(../exercice2responsive/img/beach-house.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 39px;
    border-radius: 10px;
    height: 62%;
}

.img2{
    background-image: url(../exercice2responsive/img/beach-house-interior-1.jpg);
    background-size: cover;
    background-position: center;
    width: 46%;
    margin-right: 39px;
    border-radius: 10px;
    height: 40%;
}
.img3{
    background-image: url(../exercice2responsive/img/beach-house-interior-2.jpg);
    background-size: cover;
    background-position: center;
    width: 46%;
    border-radius: 10px;
    height: 40%;
}


@media(min-width:768px) and (max-width:1023px){
    body{
        width: 100%;
    }
    .text{
        width: 100%;
        height: 54%;
        position: relative;
        padding: 15px;
    }
    .container{
       flex-wrap: wrap;
       flex-direction: column-reverse;
    }
    .img{
        flex-wrap: wrap;
        width: 94%;
        height: 46%;
        padding: 15px;
    }

    p{
        font-size: 23px;
        margin: 10px;
    }
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 25px;
    }

    .img1{
        width: 49%;
        margin: 0;
        height: 100%;
        margin-right: 10px;
    }
    .img2{
        width: 24%;
        height: 100%;
        margin-right: 10px;
    }
    .img3{
        width: 24%;
        height: 100%;

    }
    a{
        position: absolute;
        left: 73%;
        top: 64px;
        width: 170px;
        height: 46px;
        padding: 11px;
    }
}

@media(min-width:640px) and (max-width:767px){
    .container{
        flex-direction: column-reverse;
        height: 70%;
    }
    .img{
        width: 100%;
        height: 46%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .text{
        width: 100%;
        height: 54%;
        position: relative;
        padding: 15px;
    }
    .img3{
        display: none;
    }

    .img1{
        width: 47%;
        height: 100%;
    
    }
    .img2{
        width: 47%;
        height: 100%;
        margin: 0;
    
    }
    p{
        font-size: 15px;
        margin: 8px;
    }
    h1{
        font-size: 25px;
    }

    h2{
        font-size: 15px;
    }
    a{
        position: absolute;
        left: 65%;
        top: 38px;
        width: 170px;
        height: 46px;
        padding: 11px;
    }

}


@media(min-width:0px) and (max-width:639px){d
    .container{
        flex-direction: column-reverse;
        height: 100%;
        justify-content: start;
        position: relative;
    }
    .text{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 52%;
        padding: 35px;
    }
    .img{
        height:70%;
        width: 100%;
        padding: 15px;
    }
    .img1{
        width: 100%;
        height: 100%;
    
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }

    h1{
        color: white;
    }
    h2{
        color: white;
    }

}