.cat{
    background-image: url(cat.jpg);
    width: 500px;
    height: 200px;
    background-size: cover;
    Background-position: 0px -46px;
    position: relative;
}

h1{
    color: white;
    display: flex;
    position: absolute;
    margin: 0;
    text-shadow:0px 14px 40px 0px #000;
    margin: 10px;
    
}

.color{
    height: 100%;
    background-image: linear-gradient(90deg,#000 , transparent );
    display: flex;
    justify-content: center;
    align-items: center;
}

