.square{
 width: 100px;
 height: 100px;
 border: 1px solid #000;
}

.red{
    background-color: red;
    /* En postion relative un élément peut se positionner
    par rapport à sont emplacement initial */
    position: relative;
    top:50px;
    left: 50px;

}

.green{
    background-color: green;
    /* En postion absolute, un élément se postionne 
    par rapport à son parent relative le proche (body par défaut)*/
    position:absolute;
    bottom:0;
    right:0;
}
.blue{
    background-color: blue;
    /* Le position fixed est comme un absolute 
    sauf qu'il reste fixe lors du scroll*/
    position: fixed;
}

.little-square{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.pink {
    background-color: pink;
    position: absolute;
    bottom: 0;
    left: 0;
}
body{
    height: 5000px;
}