body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    width: 1200px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.red{
    background-color: #FF5D54;
    width: 28%;
    height: 55px;
}

.green{
    background-color: #117F89;
    width: 68%;
}

.case{
    display: flex;
    justify-content: space-between;
}

.div1{
    width: 22%;
}
.div2{
    width: 22%;
}
.div3{
    width: 22%;
}
.div4{
    width: 22%;
}

.case > div > div{
    margin-bottom: 15px;
}

.square{
    width: 100%;
    height: 220px;
    background-color: #E3E3E3;
}

.rectangle{
    background-color: #FFDC11;
    height: 55px;
}

.line{
    background-color: #E3E3E3;
    height: 40px;
}

.line1{
    display: none;
}


/* laptop */

@media (min-width: 992px) and (max-width: 1199px) {
    .case{
        display: flex;
        flex-wrap: wrap;
    }
    .red{
        width: 15%;
    }
    .green{
        width: 80%;
    }
    .container{
        width: 80%;
    }
    .div1 {
        width: 30%;
    }
    .div2 {
        width: 30%;
    }
    .div3 {
        width: 30%;
    }
    .div4 {
        width: 30%;
    }

}

/* tablette */

@media (min-width:768px) and (max-width:991px){
    .case{
        display: flex;
        flex-wrap: wrap;
    }
    .red{
        width: 15%;
    }
    .green{
        width: 80%;
    }
    .container{
        width: 80%;
    }
    .div1 {
        width: 48%;
    }
    .div2 {
        width: 48%;
    }
    .div3 {
        width: 48%;
    }
    .div4 {
        width: 48%;
    }
    .line1{
        display: block;
        background-color: #E3E3E3;
        height: 40px;
    }
}

/* 0 - 767px */

@media (min-width:0px) and (max-width:767px){

    .case{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .red{
        width: 0%;
    }
    .green{
        width: 100%;
    }
    .container{
        width: 80%;
    }
    .div1 {
        width: 100%;
    }
    .div2 {
        width: 100%;
    }
    .div3 {
        width: 100%;
    }
    .div4 {
        width: 100%;
    }
}