body{
    background-image: url(img/bg.jpg);
    /* par defaut le background et en repeat*/
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* vh= viwport height = hauteur de la fenetre*/
    font-family: 'Nunito', sans-serif;
}


.card{
    background-color: #FFF;
    width: 550px;
    box-shadow:0px 14px 40px 0px #8c8c8c79;
    border-radius: 25px;
    display: flex;
}
.card-text{
    padding: 70px 20px 40px 50px;
    position: relative;

}

.card-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: -40px;
    border: 5px solid #FFF;
}
.bg-ant{
    background-image: url(img/ant.jpeg);
    width: 100%;
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
    background-position: -60px 0px; /* Position du background sur x (horizontal) et Y (vertical) */
    background-size: cover;
}

.bouton{
    justify-content: center;
    display: flex;
    background-color: #8bc34a;
    color: #FFF;
    text-decoration: none; /* non souligner */
    padding:10px 20px;
    border-radius:8px;
    display: block;
    text-align: center;
    border: 2px solid transparent ;
    transition: 0.5s;
}

.bouton:hover{
    background-color: transparent;
    color: #8bc34a;
    border-color: #8bc34a;
    transform: rotate(1deg) scale(1.1);

}


